# Aggregate Raw Data
this notebook aggregates the all the data we collected and renders csv files for the soil, water, weather and solar radiation data in hourly intervals

In [7]:
import pandas as pd
from datetime import datetime

# Aggregate Soil Data

In [2]:
# read in csv files 
Saugspannung_2012 = pd.read_csv("../../Data/raw_data/all_data_raw/saugspannung 2012.csv",sep=",")
Saugspannung_2013 = pd.read_csv("../../Data/raw_data/all_data_raw/saugspannung 2013.csv",sep=",")
Saugspannung_2014 = pd.read_csv("../../Data/raw_data/all_data_raw/saugspannung 2014.csv",sep=",")
Saugspannung_2015 = pd.read_csv("../../Data/raw_data/all_data_raw/saugspannung 2015.csv",sep=",")
Saugspannung_2016 = pd.read_csv("../../Data/raw_data/all_data_raw/saugspannung 2016.csv",sep=",")
Saugspannung_2017 = pd.read_csv("../../Data/raw_data/all_data_raw/saugspannung 2017.csv",sep=",")
Saugspannung_2018 = pd.read_csv("../../Data/raw_data/all_data_raw/saugspannung 2018.csv",sep=",")
Saugspannung_2019 = pd.read_csv("../../Data/raw_data/all_data_raw/saugspannung 2019.csv",sep=",")
Saugspannung_2020 = pd.read_csv("../../Data/raw_data/all_data_raw/saugspannung 2020.csv",sep=",")
Saugspannung_2021 = pd.read_csv("../../Data/raw_data/all_data_raw/saugspannung 2021.csv",sep=",")

In [3]:
# concatenate the csv files from each year to one dataframe
saugspannung = pd.concat([Saugspannung_2012,Saugspannung_2013,Saugspannung_2014,Saugspannung_2015,Saugspannung_2016,Saugspannung_2017,Saugspannung_2018,
Saugspannung_2019,Saugspannung_2020,Saugspannung_2021])
# rename column
saugspannung = saugspannung.rename(columns={"DateTime": "datetime"})

In [4]:
# import pytz package for handling timezones
import pytz
# convert DateTime column into datetime format
saugspannung["datetime"] = pd.to_datetime(saugspannung['datetime'])
# function that converts datetime column into CET timezone and accounts for Daylight saving
def add_timezone(df):
    timeZone = pytz.timezone("CET")
    df['datetime'] = df['datetime'].dt.tz_localize('UTC')
    df['datetime'] = df['datetime'].dt.tz_convert(timeZone)
    return df

add_timezone(saugspannung)

# set DateTime as index
saugspannung.set_index("datetime", inplace=True)

In [5]:
saugspannung.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 73849 entries, 2012-01-01 01:00:00+01:00 to 2021-12-31 01:00:00+01:00
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Wädenswil (20cm)  73622 non-null  float64
 1   Wädenswil (40cm)  73737 non-null  float64
 2   Wädenswil (70cm)  73454 non-null  float64
dtypes: float64(3)
memory usage: 2.3 MB

In [6]:
# safe aggregated dataframe as csv file
saugspannung.to_csv("../../Data/raw_data/saugspannung_agg.csv", index=True)

# Aggregate Water Data

In [8]:
# set path
path = "../../Data/raw_data/all_data_raw/"

In [9]:
############################################################
# Obersee
############################################################

# Merge Datasets for Obersee (Station 2014)
Obersee1 = pd.read_csv(path + "2014_Pegel_Stundenmittel_2008-01-01_2018-12-31.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
Obersee1["datetime"] = pd.to_datetime(Obersee1["Zeitstempel"])
Obersee1.drop(columns="Zeitstempel", inplace=True)
Obersee2 = pd.read_csv(path + "2014_Pegel_Stundenmittel_2019-01-01_2022-11-13.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
Obersee2["datetime"] = pd.to_datetime(Obersee2["Zeitstempel"])
Obersee2.drop(columns="Zeitstempel", inplace=True)
dfs = [Obersee1, Obersee2]
obersee = pd.concat(dfs)
obersee = obersee.rename(columns={"Wert": "Pegel Obersee"})

In [10]:
############################################################
# Limmat
############################################################

# Merge Datasets for Limmat Abfluss (Station 2099)
Lim_Ab1 = pd.read_csv(path + "2099_Abfluss_Stundenmittel_2000-01-01_2018-12-31.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
Lim_Ab1["datetime"] = pd.to_datetime(Lim_Ab1["Zeitstempel"])
Lim_Ab1.drop(columns="Zeitstempel", inplace=True)
Lim_Ab2 = pd.read_csv(path + "2099_Abfluss_Stundenmittel_2019-01-01_2022-11-13.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
Lim_Ab2["datetime"] = pd.to_datetime(Lim_Ab2["Zeitstempel"])
Lim_Ab2.drop(columns="Zeitstempel", inplace=True)
lim = [Lim_Ab1, Lim_Ab2]
lim_abfluss = pd.concat(lim)

# Merge Datasets for Limmat Pegel (Station 2099)
Lim_peg1 = pd.read_csv(path + "2099_Pegel_Stundenmittel_2000-01-01_2018-12-31.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
Lim_peg1["datetime"] = pd.to_datetime(Lim_peg1["Zeitstempel"])
Lim_peg1.drop(columns="Zeitstempel", inplace=True)
Lim_peg2 = pd.read_csv(path + "2099_Pegel_Stundenmittel_2019-01-01_2022-11-13.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
Lim_peg2["datetime"] = pd.to_datetime(Lim_peg2["Zeitstempel"])
Lim_peg2.drop(columns="Zeitstempel", inplace=True)
limp = [Lim_peg1, Lim_peg2]
lim_pegel = pd.concat(limp)

# merge limmat datasets
limmat = pd.DataFrame.merge(lim_abfluss, lim_pegel, how="left", on="datetime")
limmat = limmat.rename(columns={"Wert_x": "Abfluss Limmat", "Wert_y": "Pegel Limmat"})

In [11]:
############################################################
# Linth
############################################################

# Merge Datasets for Linth Abfluss (Station 2104)
linth_ab1 = pd.read_csv(path + "2104_Abfluss_Stundenmittel_2000-01-01_2018-12-31.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
linth_ab1["datetime"] = pd.to_datetime(linth_ab1["Zeitstempel"])
linth_ab1.drop(columns="Zeitstempel", inplace=True)
linth_ab2 = pd.read_csv(path + "2104_Abfluss_Stundenmittel_2019-01-01_2022-11-13.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
linth_ab2["datetime"] = pd.to_datetime(linth_ab2["Zeitstempel"])
linth_ab2.drop(columns="Zeitstempel", inplace=True)
lin = [linth_ab1, linth_ab2]
linth_abfluss = pd.concat(lin)

# Merge Datasets for Linth Pegel (Station 2104)
linth_peg1 = pd.read_csv(path + "2104_Pegel_Stundenmittel_2000-01-01_2018-12-31.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
linth_peg1["datetime"] = pd.to_datetime(linth_peg1["Zeitstempel"])
linth_peg1.drop(columns="Zeitstempel", inplace=True)
linth_peg2 = pd.read_csv(path + "2104_Pegel_Stundenmittel_2019-01-01_2022-11-13.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
linth_peg2["datetime"] = pd.to_datetime(linth_peg2["Zeitstempel"])
linth_peg2.drop(columns="Zeitstempel", inplace=True)
lin1 = [linth_peg1, linth_peg2]
linth_pegel = pd.concat(lin1)

# Merge Datasets for Linth Wassertemperatur (Station 2104)
linth_temp1 = pd.read_csv(path + "2104_Wassertemperatur_Stundenmittel_2000-01-01_2018-12-31.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
linth_temp1["datetime"] = pd.to_datetime(linth_temp1["Zeitstempel"])
linth_temp1.drop(columns="Zeitstempel", inplace=True)
linth_temp2 = pd.read_csv(path + "2104_Wassertemperatur_Stundenmittel_2019-01-01_2022-11-13.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
linth_temp2["datetime"] = pd.to_datetime(linth_temp2["Zeitstempel"])
linth_temp2.drop(columns="Zeitstempel", inplace=True)
lin2 = [linth_temp1, linth_temp2]
linth_temp = pd.concat(lin2)


# merge linth datasets
linth = pd.merge(pd.merge(linth_abfluss, linth_pegel, how="left", on="datetime"), linth_temp, how="left", on="datetime")
linth = linth.rename(columns={"Wert_x": "Abfluss Linth", "Wert_y": "Pegel Linth", "Wert": "Wasser_temp Linth"})

In [12]:

############################################################
# Zürichsee
############################################################


# Merge Datasets for Zürichsee (Station 2209)
see1 = pd.read_csv(path + "2209_Pegel_Stundenmittel_2000-01-01_2018-12-31.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
see1["datetime"] = pd.to_datetime(see1["Zeitstempel"])
see1.drop(columns="Zeitstempel", inplace=True)
see2 = pd.read_csv(path + "2209_Pegel_Stundenmittel_2019-01-01_2022-11-13.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
see2["datetime"] = pd.to_datetime(see2["Zeitstempel"])
see2.drop(columns="Zeitstempel", inplace=True)
seez = [see1,see2]
zurichsee = pd.concat(seez)
zurichsee= zurichsee.rename(columns={"Wert": "Pegel Zurichsee"})

In [13]:
# merge all datasets and chagne order of columns
wasser_agg = pd.merge(pd.merge(pd.merge(zurichsee, obersee, how="left", on="datetime"), linth, how="left", on="datetime"), limmat, how="left", on="datetime")
wasser_agg = wasser_agg.iloc[:,[1,0,2,3,4,5,6,7]]

In [14]:
# import pytz package for handling timezones
import pytz
# convert DateTime column into datetime format
wasser_agg["datetime"] = pd.to_datetime(wasser_agg['datetime'])
# function that converts datetime column into CET timezone and accounts for Daylight saving
def add_timezone(df):
    timeZone = pytz.timezone("CET")
    df['datetime'] = df['datetime'].dt.tz_localize('UTC')
    df['datetime'] = df['datetime'].dt.tz_convert(timeZone)
    return df

add_timezone(wasser_agg)

# set DateTime as index
wasser_agg.set_index("datetime", inplace=True)

In [15]:
wasser_agg.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 200471 entries, 2000-01-01 01:00:00+01:00 to 2022-11-14 00:00:00+01:00
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Pegel Zurichsee    200471 non-null  float64
 1   Pegel Obersee      130343 non-null  float64
 2   Abfluss Linth      200471 non-null  float64
 3   Pegel Linth        200471 non-null  float64
 4   Wasser_temp Linth  200469 non-null  float64
 5   Abfluss Limmat     200470 non-null  float64
 6   Pegel Limmat       200470 non-null  float64
dtypes: float64(7)
memory usage: 12.2 MB

In [16]:
# safe aggregated water data
wasser_agg.to_csv("../../Data/raw_data/waterdata_agg.csv", index=True)

# Aggreagate Weather Data

In [32]:
# read in dataset 
mythenquai = pd.read_csv("../../Data/raw_data/all_data_raw/messwerte_mythenquai_2007-2021 (2).csv", sep=",")

In [19]:
# convert to datetime and drop other timestamp columns
mythenquai['datetime'] = pd.to_datetime(mythenquai['timestamp_utc'])
mythenquai.drop(columns=["timestamp_utc", "timestamp_cet"], inplace=True)

In [20]:
mythenquai_sum = mythenquai[["datetime", "precipitation", "global_radiation"]]
mythenquai_mean = mythenquai.drop(columns=["precipitation", "global_radiation"])

In [21]:
# convert observations into observations with intervals of one hour 
df_mean = mythenquai_mean.groupby([pd.Grouper(freq='H', key='datetime')]).mean().reset_index()
df_sum = mythenquai_sum.groupby([pd.Grouper(freq='H', key='datetime')]).sum().reset_index()
# set datetime as index
df = pd.merge(df_mean,df_sum, how="left", on="datetime")
df.set_index("datetime", inplace=True)
# convert datetime index to central european timezone
df = df.tz_convert('CET')

In [22]:
# create column for change rate of water level
df["change_rate"] = df["water_level"].pct_change()

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 128813 entries, 2007-04-22 21:00:00+02:00 to 2022-01-01 00:00:00+01:00
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   air_temperature          126659 non-null  float64
 1   water_temperature        109907 non-null  float64
 2   wind_gust_max_10min      126659 non-null  float64
 3   wind_speed_avg_10min     126659 non-null  float64
 4   wind_force_avg_10min     126659 non-null  float64
 5   wind_direction           126659 non-null  float64
 6   windchill                126659 non-null  float64
 7   barometric_pressure_qfe  125870 non-null  float64
 8   dew_point                126659 non-null  float64
 9   humidity                 126659 non-null  float64
 10  water_level              109907 non-null  float64
 11  precipitation            128813 non-null  float64
 12  global_radiation         128813 non-null  float64
 13  change_rate              128812 non-null  float64
dtypes: float64(14)
memory usage: 14.7 MB

In [31]:
df.to_csv("../../Data/raw_data/mythenquai_agg.csv", index=True)

# Aggregate Extraterrestial Solar Radiation Data

In [33]:
# read in the file and rename column
RA = pd.read_csv("../../Data/raw_data/all_data_raw/solar_radiation_raw.csv",skiprows=14, sep=";")
RA= RA.rename(columns={"# Year": "Year"})

In [34]:
# keep only date and extraterrestial radiation columns
cols = [3,4,6,7]
RA.drop(RA.columns[cols], axis=1, inplace=True)

In [35]:
# create datetime variable and drop old columns with Year, Month and Day values
RA["datetime"] = pd.to_datetime(RA[['Year', 'Month', 'Day']])
RA.drop(RA.columns[[0,1,2]], axis=1, inplace=True)

In [36]:
# import pytz package for handling timezones
import pytz
# function that converts datetime column into CET timezone and accounts for Daylight saving
def add_timezone(df):
    timeZone = pytz.timezone("CET")
    df['datetime'] = df['datetime'].dt.tz_localize('UTC')
    df['datetime'] = df['datetime'].dt.tz_convert(timeZone)
    return df

add_timezone(RA)
# set datetime variable as index
RA.set_index("datetime", inplace=True)

In [37]:
RA.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2891 entries, 2012-01-01 01:00:00+01:00 to 2019-11-30 01:00:00+01:00
Data columns (total 1 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Irradiance (W/m2)  2891 non-null   float64
dtypes: float64(1)
memory usage: 45.2 KB

In [38]:
# upsample daily values to hourly values using the resample method and fill hourly NaNs with daily values of the respective day 
RA = RA.resample('H').ffill()

In [39]:
# divide all values in the radiation column by 24 to have hourly values 
RA = RA[["Irradiance (W/m2)"]]/24

In [42]:
RA.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 69361 entries, 2012-01-01 01:00:00+01:00 to 2019-11-30 01:00:00+01:00
Freq: H
Data columns (total 1 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Irradiance (W/m2)  69361 non-null  float64
dtypes: float64(1)
memory usage: 1.1 MB

In [44]:
#safe dataframe as csv
RA.to_csv("../../Data/raw_data/extrater_radiation_agg.csv", index=True)