AR model
https://www.youtube.com/watch?v=lPvIkGZjbZk
The inputs are going to be the previous values.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import pyplot
from statsmodels.tsa.ar_model import AutoReg

In [9]:
dar = pd.read_csv("../Data/weekly_data.csv")
dar["datetime"] = pd.to_datetime(dar['datetime'])
dar.set_index("datetime", inplace=True)
dar

                           suction_tension (20cm)  ...   change_rate
datetime                                           ...
2012-01-01 00:00:00+01:00                1.743478  ...           NaN
2012-01-08 00:00:00+01:00                1.867262  ...  3.468534e-05
2012-01-15 00:00:00+01:00                3.035119  ... -1.708566e-04
2012-01-22 00:00:00+01:00                3.742262  ... -1.113655e-04
2012-01-29 00:00:00+01:00                1.996429  ...  4.217006e-05
...                                           ...  ...           ...
2019-11-03 00:00:00+01:00                3.102348  ... -3.657425e-07
2019-11-10 00:00:00+01:00                2.272055  ...  5.956105e-05
2019-11-17 00:00:00+01:00                3.036545  ... -7.977880e-05
2019-11-24 00:00:00+01:00                3.545053  ... -3.655968e-05
2019-12-01 00:00:00+01:00                4.706111  ... -2.781056e-05

[414 rows x 12 columns]

In [10]:
darc= pd.read_csv("../Data/weekly_data_copy.csv")
darc

                      datetime  ...  change_rate
0    2013-06-09 00:00:00+00:00  ...          NaN
1    2013-06-16 00:00:00+00:00  ...    -0.000277
2    2013-06-23 00:00:00+00:00  ...    -0.000102
3    2013-06-30 00:00:00+00:00  ...    -0.000046
4    2013-07-07 00:00:00+00:00  ...     0.000021
..                         ...  ...          ...
334  2019-11-03 00:00:00+00:00  ...     0.000000
335  2019-11-10 00:00:00+00:00  ...     0.000070
336  2019-11-17 00:00:00+00:00  ...    -0.000091
337  2019-11-24 00:00:00+00:00  ...    -0.000036
338  2019-12-01 00:00:00+00:00  ...    -0.000027

[339 rows x 13 columns]