In [13]:
import pandas as pd
import numpy as np

In [2]:
# read dataset 
df = pd.read_csv("https://raw.githubusercontent.com/kaebry/DSF/main/Data/merged_data.csv")
RA = pd.read_csv("https://raw.githubusercontent.com/kaebry/DSF/main/Data/extrater_radiation.csv")

In [3]:
# select all observation until the end of 2019
df = df.loc[df["datetime"]<"2019-12-31 23:00:00+01:00"]

In [4]:
# drop all missing values (ipputing them with estimates could have resulted in too biased values since often many values are missing at once for one observation)
df = df.dropna()

In [5]:
# reset the index
df = df.reset_index(drop=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60457 entries, 0 to 60456
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   datetime                 60457 non-null  object
 1   Wädenswil (20cm)         60457 non-null  float64
 2   Wädenswil (40cm)         60457 non-null  float64
 3   Wädenswil (70cm)         60457 non-null  float64
 4   air_temperature          60457 non-null  float64
 5   water_temperature        60457 non-null  float64
 6   wind_gust_max_10min      60457 non-null  float64
 7   wind_speed_avg_10min     60457 non-null  float64
 8   wind_force_avg_10min     60457 non-null  float64
 9   wind_direction           60457 non-null  float64
 10  windchill                60457 non-null  float64
 11  barometric_pressure_qfe  60457 non-null  float64
 12  precipitation            60457 non-null  float64
 13  dew_point                60457 non-null  float64
 14  global_radiation         60457 non-null  float64
 15  humidity                 60457 non-null  float64
 16  water_level              60457 non-null  float64
 17  change_rate              60457 non-null  float64
 18  Pegel Zurichsee          60457 non-null  float64
 19  Pegel Obersee            60457 non-null  float64
 20  Abfluss Linth            60457 non-null  float64
 21  Pegel Linth              60457 non-null  float64
 22  Wasser_temp Linth        60457 non-null  float64
 23  Abfluss Limmat           60457 non-null  float64
 24  Pegel Limmat             60457 non-null  float64
dtypes: float64(24), object(1)
memory usage: 11.5+ MB

In [7]:
df.rename(columns={"Wädenswil (20cm)": "suction_tension (20cm)", "Wädenswil (40cm)": "suction_tension (40cm)", "Wädenswil (70cm)": "suction_tension (70cm)",
                   "wind_gust_max_10min": "wind_gust_max", "wind_speed_avg_10min": "wind_speed", "precipitation": "precipitation (mm)","Abfluss Linth": "inflow_linth",
                   "Abfluss Limmat": "outflow_limmat"}, inplace=True)

In [8]:
df.drop(columns=["wind_force_avg_10min", "windchill", "Pegel Zurichsee", "Pegel Obersee", "Pegel Zurichsee", "Pegel Linth", "Pegel Limmat", "Wasser_temp Linth"], inplace=True)

In [9]:
df

,datetime,suction_tension (20cm),suction_tension (40cm),suction_tension (70cm),air_temperature,water_temperature,wind_gust_max,wind_speed,wind_direction,barometric_pressure_qfe,precipitation (mm),dew_point,global_radiation,humidity,water_level,change_rate,inflow_linth,outflow_limmat
0,2012-01-01 01:00:00+01:00,0.500,0.600,1.000,7.516667,5.900000,4.783333,2.516667,194.333333,972.333333,0.016667,6.833333,0.000000,93.833333,405.893333,0.000008,29.328,134.098
1,2012-01-01 02:00:00+01:00,0.600,0.700,1.000,7.333333,5.900000,5.266667,3.266667,179.666667,972.550000,0.000000,6.400000,0.166667,94.333333,405.900000,0.000016,29.543,143.515
2,2012-01-01 03:00:00+01:00,0.700,0.800,1.200,9.116667,5.900000,6.316667,2.650000,216.000000,972.616667,0.000000,7.250000,1.500000,88.166667,405.901667,0.000004,29.741,158.646
3,2012-01-01 04:00:00+01:00,0.800,0.800,1.200,9.716667,5.900000,6.900000,2.900000,216.000000,972.183333,0.000000,7.483333,1.333333,86.000000,405.908333,0.000016,30.058,165.654
4,2012-01-01 05:00:00+01:00,1.000,0.900,1.300,9.966667,5.900000,8.050000,3.366667,218.166667,972.216667,0.000000,7.366667,0.333333,83.833333,405.910000,0.000004,30.277,163.086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60452,2019-11-27 01:00:00+01:00,4.780,3.565,3.720,5.800000,10.166667,4.633333,2.700000,342.166667,953.483333,0.000000,5.683333,0.000000,99.166667,405.950000,0.000000,41.555,73.187
60453,2019-11-27 02:00:00+01:00,3.405,2.760,4.530,5.850000,10.100000,3.500000,1.683333,243.833333,953.100000,0.000000,5.816667,0.000000,100.000000,405.946667,-0.000008,41.411,73.130
60454,2019-11-27 03:00:00+01:00,4.730,3.540,3.695,6.116667,10.183333,2.050000,0.900000,120.666667,952.466667,0.000000,6.050000,0.000000,99.000000,405.953333,0.000016,41.214,73.402
60455,2019-11-27 04:00:00+01:00,4.810,3.585,3.635,6.333333,10.150000,2.100000,1.133333,130.500000,951.600000,0.000000,6.233333,0.000000,99.333333,405.948333,-0.000012,40.911,73.292
60456,2019-11-27 05:00:00+01:00,4.770,3.565,3.580,6.500000,10.100000,3.350000,1.800000,271.500000,952.433333,0.000000,6.350000,0.000000,99.000000,405.950000,0.000004,40.732,73.503

In [10]:
# rename column and merge the two dataframes
RA.rename(columns={"Irradiance (W/m2)": "extraterrestial_radiation"}, inplace=True)
df_RA = pd.merge(df, RA, how="inner", on="datetime")

In [11]:
# check if there are any missing values after the merge
df_RA["extraterrestial_radiation"].isna().unique()

array([False])

In [12]:
df_RA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60457 entries, 0 to 60456
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   datetime                   60457 non-null  object
 1   suction_tension (20cm)     60457 non-null  float64
 2   suction_tension (40cm)     60457 non-null  float64
 3   suction_tension (70cm)     60457 non-null  float64
 4   air_temperature            60457 non-null  float64
 5   water_temperature          60457 non-null  float64
 6   wind_gust_max              60457 non-null  float64
 7   wind_speed                 60457 non-null  float64
 8   wind_direction             60457 non-null  float64
 9   barometric_pressure_qfe    60457 non-null  float64
 10  precipitation (mm)         60457 non-null  float64
 11  dew_point                  60457 non-null  float64
 12  global_radiation           60457 non-null  float64
 13  humidity                   60457 non-null  float64
 14  water_level                60457 non-null  float64
 15  change_rate                60457 non-null  float64
 16  inflow_linth               60457 non-null  float64
 17  outflow_limmat             60457 non-null  float64
 18  extraterrestial_radiation  60457 non-null  float64
dtypes: float64(18), object(1)
memory usage: 9.2+ MB

In [14]:
# this is the simplified version of the penman equation to compute evaporation based on global radiation (RS), air teperature (T), extraterrestial radiation (RA), 
# humidity (RH), and wind speed (U)
 
def evaporation(RS,T,RA,RH,U, alpha=0.08, au=0.5):
  Epen = (0.051*(1-alpha)*RS*np.sqrt(T+9.5))-(2.4*(RS/RA)**2)+(0.052*(T+20)*(1-(RH/100))*(au-0.38+0.54*U))
  return Epen

In [15]:
# create new variable evaporation by applying the evaporation function
df_RA["evaporation"] = evaporation(df_RA["global_radiation"], df_RA["air_temperature"], df_RA["extraterrestial_radiation"], df_RA["humidity"], df_RA["wind_speed"])

c:\Users\lucal\miniconda3\envs\dsf\lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [22]:
# safe dataframe as csv
df_RA.to_csv("../data/data_all_variables.csv", index=False)

In [16]:
# dataframe with new variable evaporation
df_RA

,datetime,suction_tension (20cm),suction_tension (40cm),suction_tension (70cm),air_temperature,water_temperature,wind_gust_max,wind_speed,wind_direction,barometric_pressure_qfe,precipitation (mm),dew_point,global_radiation,humidity,water_level,change_rate,inflow_linth,outflow_limmat,extraterrestial_radiation,evaporation
0,2012-01-01 01:00:00+01:00,0.500,0.600,1.000,7.516667,5.900000,4.783333,2.516667,194.333333,972.333333,0.016667,6.833333,0.000000,93.833333,405.893333,0.000008,29.328,134.098,4.53125,0.130502
1,2012-01-01 02:00:00+01:00,0.600,0.700,1.000,7.333333,5.900000,5.266667,3.266667,179.666667,972.550000,0.000000,6.400000,0.166667,94.333333,405.900000,0.000016,29.543,143.515,4.53125,0.180579
2,2012-01-01 03:00:00+01:00,0.700,0.800,1.200,9.116667,5.900000,6.316667,2.650000,216.000000,972.616667,0.000000,7.250000,1.500000,88.166667,405.901667,0.000004,29.741,158.646,4.53125,0.318552
3,2012-01-01 04:00:00+01:00,0.800,0.800,1.200,9.716667,5.900000,6.900000,2.900000,216.000000,972.183333,0.000000,7.483333,1.333333,86.000000,405.908333,0.000016,30.058,165.654,4.53125,0.431184
4,2012-01-01 05:00:00+01:00,1.000,0.900,1.300,9.966667,5.900000,8.050000,3.366667,218.166667,972.216667,0.000000,7.366667,0.333333,83.833333,405.910000,0.000004,30.277,163.086,4.53125,0.544238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60452,2019-11-27 01:00:00+01:00,4.780,3.565,3.720,5.800000,10.166667,4.633333,2.700000,342.166667,953.483333,0.000000,5.683333,0.000000,99.166667,405.950000,0.000000,41.555,73.187,5.11375,0.017642
60453,2019-11-27 02:00:00+01:00,3.405,2.760,4.530,5.850000,10.100000,3.500000,1.683333,243.833333,953.100000,0.000000,5.816667,0.000000,100.000000,405.946667,-0.000008,41.411,73.130,5.11375,0.000000
60454,2019-11-27 03:00:00+01:00,4.730,3.540,3.695,6.116667,10.183333,2.050000,0.900000,120.666667,952.466667,0.000000,6.050000,0.000000,99.000000,405.953333,0.000016,41.214,73.402,5.11375,0.008230
60455,2019-11-27 04:00:00+01:00,4.810,3.585,3.635,6.333333,10.150000,2.100000,1.133333,130.500000,951.600000,0.000000,6.233333,0.000000,99.333333,405.948333,-0.000012,40.911,73.292,5.11375,0.006682
60456,2019-11-27 05:00:00+01:00,4.770,3.565,3.580,6.500000,10.100000,3.350000,1.800000,271.500000,952.433333,0.000000,6.350000,0.000000,99.000000,405.950000,0.000004,40.732,73.503,5.11375,0.015048

In [40]:
# all the observation with NaNs for evaporation because air_temperature was too negative 
df_RA.loc[df_RA["evaporation"].isna(),]

,datetime,suction_tension (20cm),suction_tension (40cm),suction_tension (70cm),air_temperature,water_temperature,wind_gust_max,wind_speed,wind_direction,barometric_pressure_qfe,precipitation (mm),dew_point,global_radiation,humidity,water_level,change_rate,inflow_linth,outflow_limmat,extraterrestial_radiation,evaporation
796,2012-02-03 05:00:00+01:00,4.0,3.2,2.5,-9.833333,3.783333,1.550000,0.966667,25.833333,976.650000,0.0,-13.600000,0.000000,72.666667,405.780000,0.000000,39.713,90.194,6.631250,NaN
797,2012-02-03 06:00:00+01:00,4.0,3.1,2.5,-10.383333,3.750000,1.366667,0.750000,29.666667,977.000000,0.0,-14.150000,0.000000,71.666667,405.780000,0.000000,39.581,90.082,6.631250,NaN
798,2012-02-03 07:00:00+01:00,4.0,2.0,2.5,-10.966667,3.800000,1.050000,0.500000,179.833333,977.583333,0.0,-15.016667,0.333333,71.333333,405.780000,0.000000,39.450,90.035,6.631250,NaN
799,2012-02-03 08:00:00+01:00,4.0,3.1,2.5,-11.333333,3.650000,0.933333,0.450000,180.666667,978.233333,0.0,-15.266667,31.833333,72.833333,405.778333,-0.000004,39.341,89.734,6.631250,NaN
800,2012-02-03 09:00:00+01:00,4.0,3.2,2.5,-11.233333,3.616667,1.266667,0.616667,239.166667,978.833333,0.0,-15.766667,165.500000,69.833333,405.778333,0.000000,39.329,92.112,6.631250,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46800,2018-02-28 03:00:00+01:00,3.8,3.8,2.9,-9.983333,3.133333,3.516667,2.016667,314.666667,964.416667,0.0,-13.666667,0.000000,74.500000,405.700000,0.000000,34.449,75.427,9.656667,NaN
46801,2018-02-28 04:00:00+01:00,3.8,3.8,2.9,-10.266667,3.266667,4.050000,1.833333,266.333333,964.200000,0.0,-13.800000,0.000000,75.500000,405.698333,-0.000004,34.579,75.546,9.656667,NaN
46802,2018-02-28 05:00:00+01:00,3.8,3.8,2.9,-10.716667,3.350000,3.233333,1.783333,329.666667,964.316667,0.0,-14.100000,0.000000,76.000000,405.695000,-0.000008,34.750,75.665,9.656667,NaN
46803,2018-02-28 06:00:00+01:00,3.8,3.8,2.9,-10.883333,3.216667,3.383333,2.016667,321.166667,964.566667,0.0,-14.183333,0.000000,76.666667,405.690000,-0.000012,34.850,75.784,9.656667,NaN
46804,2018-02-28 07:00:00+01:00,3.8,3.8,2.9,-10.700000,3.183333,3.433333,1.466667,295.833333,964.683333,0.0,-13.833333,17.166667,77.666667,405.691667,0.000004,34.914,75.902,9.656667,NaN

In [17]:
df_RA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60457 entries, 0 to 60456
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   datetime                   60457 non-null  object
 1   suction_tension (20cm)     60457 non-null  float64
 2   suction_tension (40cm)     60457 non-null  float64
 3   suction_tension (70cm)     60457 non-null  float64
 4   air_temperature            60457 non-null  float64
 5   water_temperature          60457 non-null  float64
 6   wind_gust_max              60457 non-null  float64
 7   wind_speed                 60457 non-null  float64
 8   wind_direction             60457 non-null  float64
 9   barometric_pressure_qfe    60457 non-null  float64
 10  precipitation (mm)         60457 non-null  float64
 11  dew_point                  60457 non-null  float64
 12  global_radiation           60457 non-null  float64
 13  humidity                   60457 non-null  float64
 14  water_level                60457 non-null  float64
 15  change_rate                60457 non-null  float64
 16  inflow_linth               60457 non-null  float64
 17  outflow_limmat             60457 non-null  float64
 18  extraterrestial_radiation  60457 non-null  float64
 19  evaporation                60346 non-null  float64
dtypes: float64(19), object(1)
memory usage: 9.7+ MB

In [19]:
# drop variables that are included in the evaporation
df_reduced = df_RA.drop(columns=["air_temperature", "wind_gust_max", "wind_speed", "wind_direction", "global_radiation", "humidity", "extraterrestial_radiation"])

In [20]:
# safe dataframe as csv
df_reduced.to_csv("../data/data_reduced_variables.csv", index=False)