In [2]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/kaebry/DSF/main/Data/data_reduced_variables.csv")

eva =pd.read_csv("/content/order_107685_data.txt", sep=";")

In [4]:
eva

       stn      time ets150d0 erefaod0
0      WAE  20120101     0.03      0.3
1      WAE  20120102     0.04      0.7
2      WAE  20120103     0.25      0.2
3      WAE  20120104     0.11      0.7
4      WAE  20120105     0.06      1.3
...    ...       ...      ...      ...
11925  SMA  20221115     0.13      0.4
11926  SMA  20221116     0.44      0.6
11927  SMA  20221117     0.34      1.2
11928  SMA  20221118     0.10      0.6
11929  SMA  20221119     0.27      0.4

[11930 rows x 4 columns]

In [5]:
eva.drop(columns="erefaod0", inplace=True)

In [28]:
eva
df.columns

Index(['datetime', 'suction_tension (20cm)', 'suction_tension (40cm)',
       'suction_tension (70cm)', 'water_temperature',
       'barometric_pressure_qfe', 'precipitation (mm)', 'dew_point',
       'water_level', 'change_rate', 'inflow_linth', 'outflow_limmat',
       'evaporation'],
      dtype='object')

In [33]:
eva = eva.loc[eva["stn"]=="WAE"]

df["datetime"] = pd.to_datetime(df["datetime"], utc=True)

df

dfDS = df[["datetime", "precipitation (mm)","inflow_linth", "outflow_limmat"]].resample("D", on="datetime").sum()

dfDM = df[['datetime', 'suction_tension (20cm)', 'suction_tension (40cm)',
       'suction_tension (70cm)', 'water_temperature',
       'barometric_pressure_qfe', 'dew_point',
       'water_level']].resample("D", on="datetime").mean()



dfDS
dfDM

,suction_tension (20cm),suction_tension (40cm),suction_tension (70cm),water_temperature,barometric_pressure_qfe,dew_point,water_level
datetime,,,,,,,
2012-01-01 00:00:00+00:00,1.775000,1.379167,1.516667,6.024306,972.256944,6.328472,405.912083
2012-01-02 00:00:00+00:00,2.039583,1.566667,1.750000,6.046528,969.340278,4.945139,405.913889
2012-01-03 00:00:00+00:00,2.233333,1.737500,1.666667,5.955556,976.234028,0.836111,405.923611
2012-01-04 00:00:00+00:00,1.716667,1.354167,1.593750,5.911806,974.570833,1.220833,405.927083
2012-01-05 00:00:00+00:00,1.381250,1.139583,1.522917,5.722917,960.572917,1.400694,405.925972
...,...,...,...,...,...,...,...
2019-11-23 00:00:00+00:00,4.266042,3.035208,3.251667,10.308333,949.404167,3.454861,405.948681
2019-11-24 00:00:00+00:00,4.538542,3.249375,4.019792,10.232639,958.418056,4.811111,405.941667
2019-11-25 00:00:00+00:00,4.732708,3.417917,4.296042,10.204861,962.489306,5.956667,405.942153
2019-11-26 00:00:00+00:00,4.840652,3.545435,4.281304,10.216377,960.403333,6.703913,405.951014
2019-11-27 00:00:00+00:00,4.499000,3.403000,3.832000,10.140000,952.616667,6.026667,405.949667

In [31]:
dfD = dfDM.merge(dfDS, on="datetime")

dfD

,suction_tension (20cm),suction_tension (40cm),suction_tension (70cm),water_temperature,barometric_pressure_qfe,dew_point,water_level,precipitation (mm),inflow_linth,outflow_limmat
datetime,,,,,,,,,,
2012-01-01 00:00:00+00:00,1.775000,1.379167,1.516667,6.024306,972.256944,6.328472,405.912083,0.016667,771.414,3376.850
2012-01-02 00:00:00+00:00,2.039583,1.566667,1.750000,6.046528,969.340278,4.945139,405.913889,1.333333,867.549,2921.690
2012-01-03 00:00:00+00:00,2.233333,1.737500,1.666667,5.955556,976.234028,0.836111,405.923611,0.183333,934.874,2898.517
2012-01-04 00:00:00+00:00,1.716667,1.354167,1.593750,5.911806,974.570833,1.220833,405.927083,1.650000,948.139,2946.069
2012-01-05 00:00:00+00:00,1.381250,1.139583,1.522917,5.722917,960.572917,1.400694,405.925972,3.616667,996.948,3350.449
...,...,...,...,...,...,...,...,...,...,...
2019-11-23 00:00:00+00:00,4.266042,3.035208,3.251667,10.308333,949.404167,3.454861,405.948681,0.000000,1092.098,1761.808
2019-11-24 00:00:00+00:00,4.538542,3.249375,4.019792,10.232639,958.418056,4.811111,405.941667,0.000000,1034.796,1746.743
2019-11-25 00:00:00+00:00,4.732708,3.417917,4.296042,10.204861,962.489306,5.956667,405.942153,0.000000,1006.021,1532.328
2019-11-26 00:00:00+00:00,4.840652,3.545435,4.281304,10.216377,960.403333,6.703913,405.951014,0.000000,962.044,1519.651
2019-11-27 00:00:00+00:00,4.499000,3.403000,3.832000,10.140000,952.616667,6.026667,405.949667,0.000000,205.823,366.514

In [41]:
eva.drop(columns = "stn", inplace = True)

KeyError: ignored

In [48]:
eva.rename(columns={"time": "datetime","ets150d0": "Evapotranspiration (mm)"}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [49]:
eva["datetime"] = pd.to_datetime(eva["datetime"], utc = True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [50]:
eva

                      datetime Evapotranspiration (mm)
0    2012-01-01 00:00:00+00:00                    0.03
1    2012-01-02 00:00:00+00:00                    0.04
2    2012-01-03 00:00:00+00:00                    0.25
3    2012-01-04 00:00:00+00:00                    0.11
4    2012-01-05 00:00:00+00:00                    0.06
...                        ...                     ...
3971 2022-11-15 00:00:00+00:00                    0.14
3972 2022-11-16 00:00:00+00:00                    0.33
3973 2022-11-17 00:00:00+00:00                    0.31
3974 2022-11-18 00:00:00+00:00                    0.12
3975 2022-11-19 00:00:00+00:00                    0.24

[3976 rows x 2 columns]

In [52]:
merged_df = dfD.merge(eva, on= "datetime")

merged_df

,datetime,suction_tension (20cm),suction_tension (40cm),suction_tension (70cm),water_temperature,barometric_pressure_qfe,dew_point,water_level,precipitation (mm),inflow_linth,outflow_limmat,Evapotranspiration (mm)
0,2012-01-01 00:00:00+00:00,1.775000,1.379167,1.516667,6.024306,972.256944,6.328472,405.912083,0.016667,771.414,3376.850,0.03
1,2012-01-02 00:00:00+00:00,2.039583,1.566667,1.750000,6.046528,969.340278,4.945139,405.913889,1.333333,867.549,2921.690,0.04
2,2012-01-03 00:00:00+00:00,2.233333,1.737500,1.666667,5.955556,976.234028,0.836111,405.923611,0.183333,934.874,2898.517,0.25
3,2012-01-04 00:00:00+00:00,1.716667,1.354167,1.593750,5.911806,974.570833,1.220833,405.927083,1.650000,948.139,2946.069,0.11
4,2012-01-05 00:00:00+00:00,1.381250,1.139583,1.522917,5.722917,960.572917,1.400694,405.925972,3.616667,996.948,3350.449,0.06
...,...,...,...,...,...,...,...,...,...,...,...,...
2883,2019-11-23 00:00:00+00:00,4.266042,3.035208,3.251667,10.308333,949.404167,3.454861,405.948681,0.000000,1092.098,1761.808,0.16
2884,2019-11-24 00:00:00+00:00,4.538542,3.249375,4.019792,10.232639,958.418056,4.811111,405.941667,0.000000,1034.796,1746.743,0.11
2885,2019-11-25 00:00:00+00:00,4.732708,3.417917,4.296042,10.204861,962.489306,5.956667,405.942153,0.000000,1006.021,1532.328,0.06
2886,2019-11-26 00:00:00+00:00,4.840652,3.545435,4.281304,10.216377,960.403333,6.703913,405.951014,0.000000,962.044,1519.651,0.07
2887,2019-11-27 00:00:00+00:00,4.499000,3.403000,3.832000,10.140000,952.616667,6.026667,405.949667,0.000000,205.823,366.514,0.17