In [20]:
import pandas as pd
from datetime import datetime
path = "C:/Users/lucal/Documents/HSG/7._Semester/DSF/Project/13560_3922_2022-11-14_13-23-31 (1) - Copia/"

In [119]:
############################################################
# Obersee
############################################################

# Merge Datasets for Obersee (Station 2014)
Obersee1 = pd.read_csv(path + "2014_Pegel_Stundenmittel_2008-01-01_2018-12-31.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
Obersee1["datetime"] = pd.to_datetime(Obersee1["Zeitstempel"])
Obersee1.drop(columns="Zeitstempel", inplace=True)
Obersee2 = pd.read_csv(path + "2014_Pegel_Stundenmittel_2019-01-01_2022-11-13.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
Obersee2["datetime"] = pd.to_datetime(Obersee2["Zeitstempel"])
Obersee2.drop(columns="Zeitstempel", inplace=True)
dfs = [Obersee1, Obersee2]
obersee = pd.concat(dfs)
obersee = obersee.rename(columns={"Wert": "Pegel Obersee"})

In [120]:
############################################################
# Limmat
############################################################

# Merge Datasets for Limmat Abfluss (Station 2099)
Lim_Ab1 = pd.read_csv(path + "2099_Abfluss_Stundenmittel_2000-01-01_2018-12-31.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
Lim_Ab1["datetime"] = pd.to_datetime(Lim_Ab1["Zeitstempel"])
Lim_Ab1.drop(columns="Zeitstempel", inplace=True)
Lim_Ab2 = pd.read_csv(path + "2099_Abfluss_Stundenmittel_2019-01-01_2022-11-13.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
Lim_Ab2["datetime"] = pd.to_datetime(Lim_Ab2["Zeitstempel"])
Lim_Ab2.drop(columns="Zeitstempel", inplace=True)
lim = [Lim_Ab1, Lim_Ab2]
lim_abfluss = pd.concat(lim)

# Merge Datasets for Limmat Pegel (Station 2099)
Lim_peg1 = pd.read_csv(path + "2099_Pegel_Stundenmittel_2000-01-01_2018-12-31.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
Lim_peg1["datetime"] = pd.to_datetime(Lim_peg1["Zeitstempel"])
Lim_peg1.drop(columns="Zeitstempel", inplace=True)
Lim_peg2 = pd.read_csv(path + "2099_Pegel_Stundenmittel_2019-01-01_2022-11-13.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
Lim_peg2["datetime"] = pd.to_datetime(Lim_peg2["Zeitstempel"])
Lim_peg2.drop(columns="Zeitstempel", inplace=True)
limp = [Lim_peg1, Lim_peg2]
lim_pegel = pd.concat(limp)

# merge limmat datasets
limmat = pd.DataFrame.merge(lim_abfluss, lim_pegel, how="left", on="datetime")
limmat = limmat.rename(columns={"Wert_x": "Abfluss Limmat", "Wert_y": "Pegel Limmat"})

In [121]:
############################################################
# Linth
############################################################

# Merge Datasets for Linth Abfluss (Station 2104)
linth_ab1 = pd.read_csv(path + "2104_Abfluss_Stundenmittel_2000-01-01_2018-12-31.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
linth_ab1["datetime"] = pd.to_datetime(linth_ab1["Zeitstempel"])
linth_ab1.drop(columns="Zeitstempel", inplace=True)
linth_ab2 = pd.read_csv(path + "2104_Abfluss_Stundenmittel_2019-01-01_2022-11-13.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
linth_ab2["datetime"] = pd.to_datetime(linth_ab2["Zeitstempel"])
linth_ab2.drop(columns="Zeitstempel", inplace=True)
lin = [linth_ab1, linth_ab2]
linth_abfluss = pd.concat(lin)

# Merge Datasets for Linth Pegel (Station 2104)
linth_peg1 = pd.read_csv(path + "2104_Pegel_Stundenmittel_2000-01-01_2018-12-31.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
linth_peg1["datetime"] = pd.to_datetime(linth_peg1["Zeitstempel"])
linth_peg1.drop(columns="Zeitstempel", inplace=True)
linth_peg2 = pd.read_csv(path + "2104_Pegel_Stundenmittel_2019-01-01_2022-11-13.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
linth_peg2["datetime"] = pd.to_datetime(linth_peg2["Zeitstempel"])
linth_peg2.drop(columns="Zeitstempel", inplace=True)
lin1 = [linth_peg1, linth_peg2]
linth_pegel = pd.concat(lin1)

# Merge Datasets for Linth Wassertemperatur (Station 2104)
linth_temp1 = pd.read_csv(path + "2104_Wassertemperatur_Stundenmittel_2000-01-01_2018-12-31.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
linth_temp1["datetime"] = pd.to_datetime(linth_temp1["Zeitstempel"])
linth_temp1.drop(columns="Zeitstempel", inplace=True)
linth_temp2 = pd.read_csv(path + "2104_Wassertemperatur_Stundenmittel_2019-01-01_2022-11-13.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
linth_temp2["datetime"] = pd.to_datetime(linth_temp2["Zeitstempel"])
linth_temp2.drop(columns="Zeitstempel", inplace=True)
lin2 = [linth_temp1, linth_temp2]
linth_temp = pd.concat(lin2)


# merge linth datasets
linth = pd.merge(pd.merge(linth_abfluss, linth_pegel, how="left", on="datetime"), linth_temp, how="left", on="datetime")
linth = linth.rename(columns={"Wert_x": "Abfluss Linth", "Wert_y": "Pegel Linth", "Wert": "Wasser_temp Linth"})

In [122]:

############################################################
# Zürichsee
############################################################


# Merge Datasets for Zürichsee (Station 2209)
see1 = pd.read_csv(path + "2209_Pegel_Stundenmittel_2000-01-01_2018-12-31.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
see1["datetime"] = pd.to_datetime(see1["Zeitstempel"])
see1.drop(columns="Zeitstempel", inplace=True)
see2 = pd.read_csv(path + "2209_Pegel_Stundenmittel_2019-01-01_2022-11-13.csv", encoding='latin1', skiprows = 8, sep=";").loc[:,["Zeitstempel","Wert"]]
see2["datetime"] = pd.to_datetime(see2["Zeitstempel"])
see2.drop(columns="Zeitstempel", inplace=True)
seez = [see1,see2]
zurichsee = pd.concat(seez)
zurichsee= zurichsee.rename(columns={"Wert": "Pegel Zurichsee"})

In [126]:
zurichsee

       Pegel Zurichsee            datetime
0              405.895 2000-01-01 00:00:00
1              405.894 2000-01-01 01:00:00
2              405.892 2000-01-01 02:00:00
3              405.890 2000-01-01 03:00:00
4              405.889 2000-01-01 04:00:00
...                ...                 ...
33907          405.993 2022-11-13 19:00:00
33908          405.992 2022-11-13 20:00:00
33909          405.992 2022-11-13 21:00:00
33910          405.992 2022-11-13 22:00:00
33911          405.992 2022-11-13 23:00:00

[200471 rows x 2 columns]

In [124]:
limmat

        Abfluss Limmat            datetime  Pegel Limmat
0               95.552 2000-01-01 00:00:00       400.357
1               95.328 2000-01-01 01:00:00       400.355
2               95.103 2000-01-01 02:00:00       400.353
3               94.879 2000-01-01 03:00:00       400.351
4               91.242 2000-01-01 04:00:00       400.321
...                ...                 ...           ...
200466          47.158 2022-11-13 19:00:00       399.874
200467          46.808 2022-11-13 20:00:00       399.870
200468          46.750 2022-11-13 21:00:00       399.869
200469          46.552 2022-11-13 22:00:00       399.867
200470          46.524 2022-11-13 23:00:00       399.867

[200471 rows x 3 columns]

In [132]:
# merge all datasets and chagne order of columns
wasser_agg = pd.merge(pd.merge(pd.merge(zurichsee, obersee, how="left", on="datetime"), linth, how="left", on="datetime"), limmat, how="left", on="datetime")
wasser_agg = wasser_agg.iloc[:,[1,0,2,3,4,5,6,7]]

In [134]:
wasser_agg.to_csv("waterdata_agg.csv", index=False)

In [135]:
wasser_agg

,datetime,Pegel Zurichsee,Pegel Obersee,Abfluss Linth,Pegel Linth,Wasser_temp Linth,Abfluss Limmat,Pegel Limmat
0,2000-01-01 00:00:00,405.895,NaN,32.736,418.304,5.76,95.552,400.357
1,2000-01-01 01:00:00,405.894,NaN,32.652,418.303,5.77,95.328,400.355
2,2000-01-01 02:00:00,405.892,NaN,32.568,418.301,5.77,95.103,400.353
3,2000-01-01 03:00:00,405.890,NaN,32.484,418.299,5.77,94.879,400.351
4,2000-01-01 04:00:00,405.889,NaN,32.400,418.297,5.78,91.242,400.321
...,...,...,...,...,...,...,...,...
200466,2022-11-13 19:00:00,405.993,405.952,24.536,418.126,11.56,47.158,399.874
200467,2022-11-13 20:00:00,405.992,405.953,24.480,418.125,11.53,46.808,399.870
200468,2022-11-13 21:00:00,405.992,405.952,24.341,418.121,11.51,46.750,399.869
200469,2022-11-13 22:00:00,405.992,405.950,24.295,418.120,11.51,46.552,399.867
200470,2022-11-13 23:00:00,405.992,405.950,24.246,418.119,11.52,46.524,399.867