In [24]:
import pandas as pd
import numpy as np

# Merge and Clean the Water, Soil, Radiation and Weather Data

In [25]:
# read in files
weather = pd.read_csv("../../Data/raw_data/mythenquai_agg.csv")
soil = pd.read_csv("../../Data/raw_data/saugspannung_agg.csv")
water = pd.read_csv("../../Data/raw_data/waterdata_agg.csv")

In [26]:
# Merge the three datasets
df_merged = pd.merge(pd.merge(weather,soil, how="left", on="datetime"), water, how="left", on="datetime")
df_merged

,datetime,air_temperature,water_temperature,wind_gust_max_10min,wind_speed_avg_10min,wind_force_avg_10min,wind_direction,windchill,barometric_pressure_qfe,dew_point,...,Wädenswil (20cm),Wädenswil (40cm),Wädenswil (70cm),Pegel Zurichsee,Pegel Obersee,Abfluss Linth,Pegel Linth,Wasser_temp Linth,Abfluss Limmat,Pegel Limmat
0,2007-04-22 21:00:00+02:00,18.075000,15.200000,1.100000,0.450000,0.450000,226.500000,18.075000,973.675000,5.000000,...,NaN,NaN,NaN,405.914,NaN,50.832,418.692,11.51,69.654,400.143
1,2007-04-22 22:00:00+02:00,16.850000,15.333333,1.350000,0.916667,0.916667,159.000000,16.850000,974.083333,6.716667,...,NaN,NaN,NaN,405.914,NaN,50.826,418.692,11.52,69.603,400.142
2,2007-04-22 23:00:00+02:00,15.250000,15.216667,1.266667,0.633333,0.633333,171.166667,15.250000,974.533333,7.733333,...,NaN,NaN,NaN,405.914,NaN,50.854,418.693,11.54,69.620,400.142
3,2007-04-23 00:00:00+02:00,14.383333,15.233333,1.616667,1.100000,1.100000,174.000000,14.383333,975.066667,8.250000,...,NaN,NaN,NaN,405.914,NaN,50.891,418.694,11.55,69.705,400.143
4,2007-04-23 01:00:00+02:00,13.666667,15.183333,1.616667,1.183333,1.183333,165.000000,13.666667,975.316667,7.833333,...,NaN,NaN,NaN,405.914,NaN,50.861,418.693,11.51,69.773,400.144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128808,2021-12-31 20:00:00+01:00,7.400000,NaN,4.266667,3.383333,2.666667,153.333333,4.450000,1027.750000,6.200000,...,NaN,NaN,NaN,405.941,405.914,57.792,418.841,6.97,132.843,400.628
128809,2021-12-31 21:00:00+01:00,6.733333,NaN,2.883333,2.116667,2.000000,165.333333,5.633333,1027.916667,5.933333,...,NaN,NaN,NaN,405.942,405.911,58.003,418.845,6.96,132.320,400.624
128810,2021-12-31 22:00:00+01:00,6.666667,NaN,2.150000,1.283333,1.166667,134.166667,6.483333,1028.416667,5.866667,...,NaN,NaN,NaN,405.940,405.911,58.362,418.852,6.94,132.169,400.623
128811,2021-12-31 23:00:00+01:00,6.233333,NaN,1.616667,0.766667,0.833333,148.166667,6.216667,1028.983333,5.533333,...,NaN,NaN,NaN,405.939,405.909,58.543,418.855,6.94,131.393,400.618
128812,2022-01-01 00:00:00+01:00,5.900000,NaN,1.600000,1.100000,1.000000,145.000000,5.900000,1029.100000,5.300000,...,NaN,NaN,NaN,405.937,405.909,58.671,418.857,6.93,130.137,400.609

In [27]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128813 entries, 0 to 128812
Data columns (total 25 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   datetime                 128813 non-null  object
 1   air_temperature          126659 non-null  float64
 2   water_temperature        109907 non-null  float64
 3   wind_gust_max_10min      126659 non-null  float64
 4   wind_speed_avg_10min     126659 non-null  float64
 5   wind_force_avg_10min     126659 non-null  float64
 6   wind_direction           126659 non-null  float64
 7   windchill                126659 non-null  float64
 8   barometric_pressure_qfe  125870 non-null  float64
 9   dew_point                126659 non-null  float64
 10  humidity                 126659 non-null  float64
 11  water_level              109907 non-null  float64
 12  precipitation            128813 non-null  float64
 13  global_radiation         128813 non-null  float64
 14  change_rate              128812 non-null  float64
 15  Wädenswil (20cm)         73622 non-null   float64
 16  Wädenswil (40cm)         73737 non-null   float64
 17  Wädenswil (70cm)         73454 non-null   float64
 18  Pegel Zurichsee          128812 non-null  float64
 19  Pegel Obersee            122735 non-null  float64
 20  Abfluss Linth            128812 non-null  float64
 21  Pegel Linth              128812 non-null  float64
 22  Wasser_temp Linth        128810 non-null  float64
 23  Abfluss Limmat           128811 non-null  float64
 24  Pegel Limmat             128811 non-null  float64
dtypes: float64(24), object(1)
memory usage: 25.6+ MB

In [28]:
# select all observation until the end of 2019, from 2020 onwards there are no water level and water temperature data anymore furthermore we only have solar radiation Data
# until the end of 2019 (we will read in that dataset further down) 
df = df_merged.loc[df_merged["datetime"]<"2019-12-31 23:00:00+01:00"]
df.drop(columns=["wind_direction", "wind_gust_max_10min", "wind_force_avg_10min", "windchill", "Pegel Zurichsee", "Pegel Obersee", "Pegel Zurichsee", "Pegel Linth", "Pegel Limmat", "Wasser_temp Linth"], inplace=True)

# rename the columns
df.rename(columns={"Wädenswil (20cm)": "suction_tension (20cm)", "Wädenswil (40cm)": "suction_tension (40cm)", "Wädenswil (70cm)": "suction_tension (70cm)",
 "wind_speed_avg_10min": "wind_speed (m/s)", "precipitation": "precipitation (mm)","Abfluss Linth": "inflow_linth (m3/s)",
                   "Abfluss Limmat": "outflow_limmat (m3/s)"}, inplace=True)

C:\Users\lucal\AppData\Local\Temp\ipykernel_30752\3592757826.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=["wind_direction", "wind_gust_max_10min", "wind_force_avg_10min", "windchill", "Pegel Zurichsee", "Pegel Obersee", "Pegel Zurichsee", "Pegel Linth", "Pegel Limmat", "Wasser_temp Linth"], inplace=True)
C:\Users\lucal\AppData\Local\Temp\ipykernel_30752\3592757826.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"Wädenswil (20cm)": "suction_tension (20cm)", "Wädenswil (40cm)": "suction_tension (40cm)", "Wädenswil (70cm)": "suction_tension (70cm)",

In [29]:

# impute the missing values of the dataset using spline interpolate imputation. We are taking the mean of the two values before and after the 
# observation with the missing value to get the best possible approximation. The interpolate imputation is the best method to impute 
# and we chose the spline method because that way we can smooth the estimations since we don´t have linear data
# source: https://www.section.io/engineering-education/missing-values-in-time-series/ 

df[["suction_tension (20cm)", "suction_tension (40cm)", "suction_tension (70cm)", "air_temperature", "water_temperature", "wind_speed (m/s)", 
"barometric_pressure_qfe", "dew_point", "humidity","water_level", "inflow_linth (m3/s)","outflow_limmat (m3/s)"]]= df[["suction_tension (20cm)", 
"suction_tension (40cm)", "suction_tension (70cm)", "air_temperature", "water_temperature", "wind_speed (m/s)", "barometric_pressure_qfe", 
"dew_point", "humidity","water_level", "inflow_linth (m3/s)","outflow_limmat (m3/s)"]].interpolate(option='spline')

C:\Users\lucal\AppData\Local\Temp\ipykernel_30752\3484846742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[["suction_tension (20cm)", "suction_tension (40cm)", "suction_tension (70cm)", "air_temperature", "water_temperature", "wind_speed (m/s)",

In [30]:
# update the change rate variable after imputing the water level variable
df["change_rate"] = df["water_level"].pct_change()

C:\Users\lucal\AppData\Local\Temp\ipykernel_30752\132330667.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["change_rate"] = df["water_level"].pct_change()

In [33]:
# right now we still have data from 2007 onwards but when merging later in this notebook with the radiation data we will only have data from 2012 onwards because our 
# suction tension data only starts in 2012 

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111267 entries, 0 to 111266
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   datetime                 111267 non-null  object
 1   air_temperature          111267 non-null  float64
 2   water_temperature        111267 non-null  float64
 3   wind_speed (m/s)         111267 non-null  float64
 4   barometric_pressure_qfe  111267 non-null  float64
 5   dew_point                111267 non-null  float64
 6   humidity                 111267 non-null  float64
 7   water_level              111267 non-null  float64
 8   precipitation (mm)       111267 non-null  float64
 9   global_radiation         111267 non-null  float64
 10  change_rate              111266 non-null  float64
 11  suction_tension (20cm)   70126 non-null   float64
 12  suction_tension (40cm)   70126 non-null   float64
 13  suction_tension (70cm)   70126 non-null   float64
 14  inflow_linth (m3/s)      111267 non-null  float64
 15  outflow_limmat (m3/s)    111267 non-null  float64
dtypes: float64(15), object(1)
memory usage: 14.4+ MB

# Clean radiation dataset and merge with the other dataset

In [34]:
# read in dataset
RA = pd.read_csv("../../Data/raw_data/extrater_radiation_agg.csv")

In [35]:
# rename column 
RA.rename(columns={"Irradiance (W/m2)": "extraterrestial_radiation"}, inplace=True)
#  merge the two dataframes
df_RA = pd.merge(df, RA, how="inner", on="datetime")

In [36]:
# check if there are any missing values after the merge
df_RA["extraterrestial_radiation"].isna().unique()

array([False])

In [39]:
df_RA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69361 entries, 0 to 69360
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   datetime                   69361 non-null  object
 1   air_temperature            69361 non-null  float64
 2   water_temperature          69361 non-null  float64
 3   wind_speed (m/s)           69361 non-null  float64
 4   barometric_pressure_qfe    69361 non-null  float64
 5   dew_point                  69361 non-null  float64
 6   humidity                   69361 non-null  float64
 7   water_level                69361 non-null  float64
 8   precipitation (mm)         69361 non-null  float64
 9   global_radiation           69361 non-null  float64
 10  change_rate                69361 non-null  float64
 11  suction_tension (20cm)     69361 non-null  float64
 12  suction_tension (40cm)     69361 non-null  float64
 13  suction_tension (70cm)     69361 non-null  float64
 14  inflow_linth (m3/s)        69361 non-null  float64
 15  outflow_limmat (m3/s)      69361 non-null  float64
 16  extraterrestial_radiation  69361 non-null  float64
dtypes: float64(16), object(1)
memory usage: 9.5+ MB

In [14]:
# this is the simplified version of the penman equation to compute evaporation based on global radiation (RS), air teperature (T), extraterrestial radiation (RA), 
# humidity (RH), and wind speed (U)
# we derived this formula from the following source: Valiantzas, J.D. (2006). Simplified versions for the Penman evaporation equation using routine weather data, 
# Journal of Hydrology, 331(3–4), 690-702. https://doi.org/10.1016/j.jhydrol.2006.06.012.
 
def evaporation(RS,T,RA,RH,U, alpha=0.08, au=0.5):
  Epen = (0.051*(1-alpha)*RS*np.sqrt(T+9.5))-(2.4*(RS/RA)**2)+(0.052*(T+20)*(1-(RH/100))*(au-0.38+0.54*U))
  return Epen

In [15]:
# create new variable evaporation by applying the evaporation function
df_RA["evaporation"] = evaporation(df_RA["global_radiation"], df_RA["air_temperature"], df_RA["extraterrestial_radiation"], df_RA["humidity"], df_RA["wind_speed (m/s)"])

c:\Users\lucal\miniconda3\envs\dsf\lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [16]:
# set datetime as index
df_RA.set_index("datetime", inplace=True)

In [17]:
# For the missing values of the evaporation we are using the KNNImputer to fill in the missing values.
# we use the KNN imputer because it fills in the value based of the mean values of observations with variable values most similar to the observation
# with the missing value. 
# The NaNs occure for observations with a very low (ca. below -9 degrees Celsius) temperature because then the argument in the square root
# turn negative. Because of this we often have missing values for many consecutive observations in a row and because we have all other values
# for of one observation the KNN imputer makes more sense than interpolation 

# We are standardizing the values before we apply the KNN imputer and destandardize them afterwards again. That way we circumvent biases for the
# imputed values
# source: Htoon, K. S. (2020).  A Guide To KNN Imputation. retrieved from: 
# https://medium.com/@kyawsawhtoon/a-guide-to-knn-imputation-95e2dc496e

# import KNN imputer
from sklearn.impute import KNNImputer
# import MinMaxScaler 
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
# standardize data
data_scaled = pd.DataFrame(scaler.fit_transform(df_RA), columns = df_RA.columns)

imputer = KNNImputer()
# impute missing values with KNN imputer and convert them to floats
data_imputed = pd.DataFrame(imputer.fit_transform(data_scaled), columns=df_RA.columns, index = df_RA.index).astype(float)
# de standardize the imputed dataframe to get original unit of measurement
data_imputed = pd.DataFrame(scaler.inverse_transform(data_imputed), columns = df_RA.columns, index = df_RA.index)

In [18]:
data_imputed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 69361 entries, 2012-01-01 01:00:00+01:00 to 2019-11-30 01:00:00+01:00
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   air_temperature            69361 non-null  float64
 1   water_temperature          69361 non-null  float64
 2   wind_speed (m/s)           69361 non-null  float64
 3   barometric_pressure_qfe    69361 non-null  float64
 4   dew_point                  69361 non-null  float64
 5   humidity                   69361 non-null  float64
 6   water_level                69361 non-null  float64
 7   precipitation (mm)         69361 non-null  float64
 8   global_radiation           69361 non-null  float64
 9   change_rate                69361 non-null  float64
 10  suction_tension (20cm)     69361 non-null  float64
 11  suction_tension (40cm)     69361 non-null  float64
 12  suction_tension (70cm)     69361 non-null  float64
 13  inflow_linth (m3/s)        69361 non-null  float64
 14  outflow_limmat (m3/s)      69361 non-null  float64
 15  extraterrestial_radiation  69361 non-null  float64
 16  evaporation                69361 non-null  float64
dtypes: float64(17)
memory usage: 9.5+ MB

In [19]:
# safe dataframe with all variables as csv
data_imputed.to_csv("../../Data/clean_data/data_hourly_all_variables.csv", index=True)

In [20]:
# drop variables that are included in the evaporation
df_reduced = data_imputed.drop(columns=["air_temperature", "wind_speed (m/s)", "global_radiation", "humidity", "extraterrestial_radiation"])

In [23]:
# safe dataframe with reduced variabels as csv
df_reduced.to_csv("../../Data/clean_data/data_hourly_reduced_variables.csv", index=True)